<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayank.gautam99.covid19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19">
        <activity android:name=".VaccinationActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EachCountryActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CountryWiseActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EachDistrictActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".DistrictWiseActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".EachStateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".StateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".WorldActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>